.background {
  background-image: url("../images/back.jpg");
  background-size:cover;
  padding-bottom: 128px; 
}

.question_box {
	height: auto;
	width: 100%;
	/*border: 2px dashed grey;*/
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0px 0px 2px 2px #cecece;
}

.question_box span{
	color: #bd2130;
	font-size: 22px; 
	font-weight: bold;
}

p {
	font-size: 18px;
	border-top: 1px solid #cecece;
	padding-top: 10px; 
}

textarea {
	margin-top: 10px;
}

img {
	border-radius: 50%;
	height: 100px;
}

.card-text {
	color: #bd2130;
	border: none;
	border-bottom: 1px solid #ececec;
	padding-bottom: 10px;
}